<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR!</title>
</head>
<body>
  <h1>ERROR!</h1>

  <div>
      <h4>An error has occurred while trying to set up the ATM. </h4>
      <p/>
      <h4>This could be caused by a several reasons. Please, try to set the ATM up again.</h4>
      <p/>
      <h4>To avoid errors, follow these instructions when setting the ATM:</h4>
  </div>

    <div>

        <p>* Enter only integer digits.</p>
        <p>* Do not leave any fields empty (Unless it is a checkbox).</p>
        <p>* Do not enter any text or characters.</p>

    </div>

    <div>

            <a href="/bankomat_war_exploded/1/setup"> Try again</a>

    </div>

</body>
</html>