<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>

    <title>ATM setups</title>

</head>

<body>

<h1>1-st cassette</h1>
<p th:text=" '100: ' + ${c1001}"/>
<p th:text=" '200: ' + ${c2001}"/>
<p th:text=" '500:' + ${c5001}"/>
<p th:text=" '1 000: ' + ${c10001}"/>
<p th:text=" '2 000:' + ${c20001}"/>
<p th:text=" '5 000: ' + ${c50001}"/>
<p th:text=" 'cassette is working :' + ${c0}"/>

<h1>2-nd cassette</h1>

<p th:text=" '100: ' + ${c1002}"/>
<p th:text=" '200: ' + ${c2002}"/>
<p th:text=" '500:' + ${c5002}"/>
<p th:text=" '1 000: ' + ${c10002}"/>
<p th:text=" '2 000:' + ${c20002}"/>
<p th:text=" '5 000: ' + ${c50002}"/>
<p th:text=" 'cassette is working :' + ${c1}"/>

<h1>3-rd cassette</h1>

<p th:text=" '100: ' + ${c1003}"/>
<p th:text=" '200: ' + ${c2003}"/>
<p th:text=" '500:' + ${c5003}"/>
<p th:text=" '1 000: ' + ${c10003}"/>
<p th:text=" '2 000:' + ${c20003}"/>
<p th:text=" '5 000: ' + ${c50003}"/>
<p th:text=" 'cassette is working :' + ${c2}"/>

<h1>4-th cassette</h1>

<p th:text=" '100: ' + ${c1004}"/>
<p th:text=" '200: ' + ${c2004}"/>
<p th:text=" '500:' + ${c5004}"/>
<p th:text=" '1 000: ' + ${c10004}"/>
<p th:text=" '2 000:' + ${c20004}"/>
<p th:text=" '5 000: ' + ${c50004}"/>
<p th:text=" 'cassette is working :' + ${c3}"/>

<h1>5-th cassette</h1>

<p th:text=" '100: ' + ${c1005}"/>
<p th:text=" '200: ' + ${c2005}"/>
<p th:text=" '500:' + ${c5005}"/>
<p th:text=" '1 000: ' + ${c10005}"/>
<p th:text=" '2 000:' + ${c20005}"/>
<p th:text=" '5 000: ' + ${c50005}"/>
<p th:text=" 'cassette is working :' + ${c4}"/>

<h1>6-th cassette</h1>

<p th:text=" '100: ' + ${c1006}"/>
<p th:text=" '200: ' + ${c2006}"/>
<p th:text=" '500:' + ${c5006}"/>
<p th:text=" '1 000: ' + ${c10006}"/>
<p th:text=" '2 000:' + ${c20006}"/>
<p th:text=" '5 000: ' + ${c50006}"/>
<p th:text=" 'cassette is working :' + ${c5}"/>

<h1>7-th cassette</h1>

<p th:text=" '100: ' + ${c1007}"/>
<p th:text=" '200: ' + ${c2007}"/>
<p th:text=" '500:' + ${c5007}"/>
<p th:text=" '1 000: ' + ${c10007}"/>
<p th:text=" '2 000:' + ${c20007}"/>
<p th:text=" '5 000: ' + ${c50007}"/>
<p th:text=" 'cassette is working :' + ${c6}"/>

<h1>8-th cassette</h1>

<p th:text=" '100: ' + ${c1008}"/>
<p th:text=" '200: ' + ${c2008}"/>
<p th:text=" '500:' + ${c5008}"/>
<p th:text=" '1 000: ' + ${c10008}"/>
<p th:text=" '2 000:' + ${c20008}"/>
<p th:text=" '5 000: ' + ${c50008}"/>
<p th:text=" 'cassette is working :' + ${c7}"/>

<div> <a href="/bankomat_war_exploded/1/hello"> Go back to main page </a></div>

</body>

</html>